.footer-list li a{
  text-decoration: none;
  color:#487eb0;
  font-size: 20px;
}
.footer-list li {
  display:inline-block;
  text-align: center;
  margin: 20px;
  text-decoration: none;
  color:#487eb0;
}
.footer-list {
  color:#487eb0;
  text-align: center;
  margin-top:20px;
  text-decoration: none;
}