.outer {
 margin: 0 20px;
}

.tech-grid {
  align-items: center;
  display: grid;
  grid-gap: 2px;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(4, 1fr);
  justify-content: center;
  margin: 0 auto;
  max-width: 65rem;
  margin-top:30px;
}

.tech-grid span {
  margin: .1em;
  border-radius: 3px;
  color: whitesmoke;
  font-weight: 600;
  padding: .6em;
  background: rgb(136, 146, 176);
}

.tech-grid span:hover {
  background-color: #487eb0;
  transform:translate(0,-2px);
}
