.menu-fa {
  list-style: none;
  text-decoration: none;
}

.menu-fa li a {
  list-style: none;
  text-decoration: none;
  font-size: 30px;
  display: inline-block;
  float: left;
}

.links {
  list-style: none;
}

.styled-link {
  text-decoration: none;
  display: block;
}
