/* Menu */
* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.links {
  list-style: none;
  margin: 0 auto;
}
.links .aclass {
  color: #16a085;
  font-size: 1.3rem;
}
.styled-link {
  text-decoration: none;
  display: block;
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  display: inline-block;
  position: relative;
  font-weight: 600;
}

li .styled-link:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: '';
  height: 1.5px;
  left: 0%;
  position: absolute;
  background: #16a085;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
li .styled-link:hover:after {
  width: 100%;
  left: 0;
}

/* Icons */
.menu-fa {
  list-style: none;

  margin-left: -1px;
  margin-top: 30px;
}

.menu-fa li a {
  list-style: none;
  text-decoration: none;
  font-size: 30px;
  display: inline-block;
  float: left;
  color: #16a085;
  padding: 2px;
}

.source {
  margin-top: 80px;
  font-size: 0.7rem;
}
