.project h1 {
  text-align: center;
}

.project .topsect {
  display: flex;
}

.project .topsect .left {
  width: 40%;
  margin-right: 10px;
}

.project .topsect .left .top {
  height: 70%;
  width: 100%;
  background: red;
}

.project .topsect .right {
  width: 60%;
}

.project .right h4 {
  margin: 0;
}

.project .right p {
  margin: 0;
}
